html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0%;
  padding: 0%;
}

header {
  width: 100%;
  background-color: #028090;
  position: fixed;
  top: 0;
  left: 0;
}

header img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

header h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 30px;
}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}

menu {
  width: 100%;
  background-color: #114B5F;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  list-style: none;
}

menu li{
  margin: 5px 0px;
}

menu a:link{
  color: white;
  text-decoration: none;
}

menu a:visited{
  color: white;
  text-decoration: none;
}

main {
  width: 1fr;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 30px;
}

.sessao1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
}

.colunas {
  width: 100%;
}

.colunas h1 {
  width: 100%;
  font-size: 25px;
  border-bottom: 1px solid  #3B6978;
  margin: 30px 0px;
}

.coluna {
  width: 100%;
  background-color: #84A9AC;
  display: flex;
  margin: 10px 0px;
  border-radius: 10px;
}

.colunista {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.colunista h2 {
  color: white;
}

.opiniao {
  width: 80%;
  background-color: #c0dbde;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 10px 10px 0px ;
}

.opiniao h3 {
  margin: 10px;
}

.opiniao p {
  margin: 10px;
}

.coluna img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 10px 10px 10px;
}

.sessao3 {
  width: 100%;
}

.sessao3 h6 {
  color: black;
  font-size: 25px;
  margin: 15px 0px;
  border-bottom: 1px solid  #3B6978;
}

.cartoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 30px;
  justify-items: center;
}

.cartao {
  height: 350px;
  width: 250px;
  background-color:  #cbe9eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 15px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #748586;
}

.img-cartao {
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.img-cartao img {
  height: 200px;
  width: 250px;
  /* transition: all 100ms ease-in-out; */
}

/* .img-cartao img:hover{
  transform:translate(-3%, 3%) scale(1.2);
} */

.texto-cartao {
  height: 150px;
  width: 250px;
}

.cartao h1 {
  color: #3B6978;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 15px 5px 15px;
}

.cartao p {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 15px 15px 15px;
}

a:link {
  color: #142833;
  text-decoration: none;
}

a:visited {
  color:#142833;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #114B5F;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

footer a:link {
  color: #142833;
  text-decoration: none;
}

footer a:visited {
  color:#142833;
}

.logo {
  width: 100%;
  background-color: #114B5F;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.logo img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.logo h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 30px;
}

.lista{
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.lista li {
  margin: 5px;
}

footer h2 {
  align-self: center;
  font-size: 18px;
  margin: 30px;
}

footer a:link {
  color: white;
  text-decoration: none;
}

footer a:visited {
  color: white;
}
  
@media(max-width:900px) {
  
  header{
    display: block;
  }
  
  main {
    margin: 0px 15px;
  }
  
  .colunas {
    margin: 0px 0px 5px 5px;
  }

  .coluna {
    display: flex;
    flex-direction: column;
  }
  
  .colunista {
    width: 100%;
  }
  
  .opiniao {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }

  .sessao3 {
    width: 100%;
  }
  
  .cartoes {
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 0px;
}

  footer {
    width: 100%;
  }
}